@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gm-style .gm-style-iw {
                  padding: 0 !important;
                  background: transparent !important;
                  box-shadow: none !important;
                  }

                .gm-style .gm-style-iw-d {
                    overflow: hidden !important;
                  }

                .gm-style .gm-ui-hover-effect {
                    filter: invert(1);
                  }

/* Google Maps デフォルトの「✕」ボタンを非表示にする */
.gm-ui-hover-effect {
  display: none !important;
}